<div class="container">
    <div class="well col-md-6 col-md-offset-2">
        <!--Template driven form -->
        <form #f="ngForm" class="form-horizontal" (ngSubmit)="onSubmit(f.value)" >
            <fieldset ngModelGroup="signin" #signin="ngModelGroup">
                <legend>Sign In</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-9">
                        <input name="email" #email="ngModel" type="email" [(ngModel)]="test.title" class="form-control" id="inputEmail" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group">
                    <p>Email is {{ test | json}}</p>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-9">
                        <input type="password" pattern="/^[A-Z]{1}[a-z]{6}[@][0-9]{3}*$/" name="password" #password="ngModel" [(ngModel)]="test.id" class="form-control" id="password" placeholder="Password" required>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>