.navbar-brand {
    background: url('../assets/img/logo-nav.png') 16px 14px no-repeat;
    border-radius: 0;
    display: block;
    height: 56px;
    overflow: hidden;
    text-indent: -3000px;
    margin: 0;
    padding-left: 150;
}